*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.animation{
    width: 300px;
    height: 50px;
    background-color: orange;
    animation-name: animation;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}
@keyframes animation{
    from{
        width: 300px;
        height: 50px;
        background-color:orange;
        top: 0;
        left: center;
    }
    to{
        width: 50px;
        height: 50px;
        background-color: black;
        top: 200px;
        left: center;
    }
}